<html class="no-js" ng-app="stepOne">

    <head ng-controller="ListCtrl">

        <meta charset="utf-8"/>

<title>Perfect Garcinia Cambogia</title>

<meta name="description" content="Perfect Garcinia Cambogia" />

<meta name="robots" content="noindex,nofollow,noarchive,nosnippet,noydir,noodp" />

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta http-equiv="content-language" content="en-us" />
 
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<link rel="stylesheet" href="assets/css/app.css" />
 
         <meta charset ="UTF-8">

        <title ng-repeat="header in heading">{{header.hello}}</title>    

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=320,  minimal-ui">  

        <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

        <link rel="stylesheet" type="text/css" href="assets/css/style.css">


        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

        <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>




    </head>
<body ontouchstart>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrapper">
        <div id="top">
          <img class="img-full" alt="Top section" src="app/desktop/images/top.jpg">
          <div class="container">
            <img class="logo" alt="Garcinia Purely Trim Logo" src="app/desktop/images/logo.png">
            <img class="badge-img" alt="Badge" src="app/desktop/images/badge.png">
            <img class="prod" alt="Garcinia Purely Trim Bottle" src="app/desktop/images/prod.png">
          </div>
          <div class="check-wrapper">
              <img class="check" alt="" src="app/desktop/images/check-1.png" style="opacity: 1;">
              <img class="check" alt="" src="app/desktop/images/check-2.png" style="opacity: 1;">
              <img class="check" alt="" src="app/desktop/images/check-3.png" style="opacity: 1;">
          </div>
          <img alt="Mobile exclusive for US" class="img-full" src="app/desktop/images/demographic.jpg">
        </div>
        <div class="ng-scope">
            <!-- ngInclude: template.url --><div class="ng-scope"><!-- ngRepeat: content in heading --><div ng-repeat="content in heading" class="ng-scope">
    <div id="section-2">
      <img class="img-full" alt="Garcinia plant" src="app/desktop/images/plant.jpg">
      <div class="container">
        <h2>What is Garcinia Cambogia?</h2>
        <!-- ngRepeat: secTwo in content.section2 --><div class="ng-scope">
          <h3 class="ng-binding">The Miraculous Weight Loss Fruit</h3>
          <p class="ng-binding">From the exotic jungles of Southeast Asia, local legend spoke about a magic fruit known as Garcinia Cambogia, sometimes called tamarind.  Small and pumpkin shaped, observers noticed that the fruit was being eaten raw in its natural form or as a flavoring agent by what seemed to be the healthiest people.</p>
        </div><!-- end ngRepeat: secTwo in content.section2 --><div class="ng-scope">
          <h3 class="ng-binding">But Why?</h3>
          <p class="ng-binding">The makers of Perfect Garcinia Cambogia had a simple goal in mind. Uncover the secrets of this local legend and create the most effect weight loss supplement possible. Join millions of people from around the world to find out today what the media is buzzing about.</p>
        </div><!-- end ngRepeat: secTwo in content.section2 -->
      </div> 
      <img class="img-full scale" alt="An all natural supplement that finally works" src="app/desktop/images/scale-lady.jpg">   
    </div>
    <div id="section-3">
        <div class="container">
          <h2>How Does it Work?</h2>
          <h3>Introducing Hydroxycitric Acid (HCA)</h3>
          <!-- ngRepeat: secThree in content.section3 --><div class="step ng-scope">
            <p class="ng-binding">Why are scientists all over the world studying Garcinia Cambogia and the effects of HCA?  What is science so curious about? Research is focused on HCA extract from Garcinia Cambogia as a weight loss aid in two powerful ways.</p>
            <img class="img-full" alt="step" ng-src="/of0211m15/m3/app/desktop/images/step-1.jpg" src="app/desktop/images/step-1.jpg">
          </div><!-- end ngRepeat: secThree in content.section3 --><div class="step ng-scope">
            <p class="ng-binding">Researchers are also encouraged by HCA’s ability to increase serotonin levels - a key to suppressing appetite.   Serotonin is a neurotransmitter in your brain that makes you feel good.  By increasing serotonin levels, HCA improves mood and suppresses emotional eating during stressful times.</p>
            <img class="img-full" alt="step" ng-src="/of0211m15/m3/app/desktop/images/step-2.jpg" src="app/desktop/images/step-2.jpg">
          </div><!-- end ngRepeat: secThree in content.section3 --><div class="step ng-scope">
            <p class="ng-binding">There is an enzyme in your body called Citrate Lyase that helps you turn your favorite snacks into fat. HCA aims to prevent this enzyme from producing more stored fat than you need. You could burn more tasty treats as fuel rather than store them.</p>
            <img class="img-full" alt="step" ng-src="/of0211m15/m3/app/desktop/images/" src="app/desktop/images/index.html">
          </div><!-- end ngRepeat: secThree in content.section3 -->
        </div>
    </div>
</div><!-- end ngRepeat: content in heading --></div>
        </div>
       
        <div id="btm">
            <div class="container">
                <img class="logo" alt="Garcinia Purely Trim Logo" src="app/desktop/images/logo.png">
                <img class="badge-img" alt="Badge" src="app/desktop/images/badge.png">
                <img class="prod" alt="Garcinia Purely Trim Bottle" src="app/desktop/images/prod.png">
            </div>
            <img class="img-full" alt="bottom" src="app/desktop/images/bottom.jpg">
        </div>
        <footer>
            <div id="cta" style="position: fixed;">
                <a href="cp1.html"><img alt="arrow" class="arrow" src="app/desktop/images/arrow.png"><span>RUSH MY TRIAL</span></a>
            </div>
            <p class="disclaimer">This product has not been evaluated by the FDA. This product is not intended to diagnose, treat, cure or prevent any disease.
Results in description and testimonials may not be typical results and individual results may vary.
This product intended to be used in conjunction with a healthy diet and regular exercise. 
Consult your physician before starting any diet, exercise program, and taking any diet pill to avoid any health issues.
Images above are dramatizations.</p>
            <p class="tc">
               <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-terms.html', 'modal');">TERMS |</a>
		<a href="javascript:void(0);" onclick="javascript:openNewWindow('page-privacy.html', 'modal');">PRIVACY POLICY  |</a>
		<a href="javascript:void(0);" onclick="javascript:openNewWindow('page-contact.html', 'modal');">CONTACT US  |</a>
		<a href="javascript:void(0)">DISCLAIMER</a>
            </p>
            <p class="tc">&copy; Perfect Garcinia Cambogia Extract</p>
        </footer>
    </div>
    


        <script src="script175f.php?downsell_current_step=1"></script>
 
        
		<script src="assets/js/jquery.min.js"></script>

        <script src="assets/js/jquery.ccval.js"></script>

        <script src="assets/js/form_handler.js"></script>

        <script src="assets/js/app.js"></script>

        <script src="assets/js/mailgun_validator.html"></script>

        <script src="assets/js/error_handler.js"></script>

        <script src="assets/js/exit_pop.js"></script>

      <!--  <script src="/of0211m15/m3/assets/js/action.js"></script>-->

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0021/4509.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);

</script>
<br><br>
        <br /><br /><br /><div class="app-benchmark"><small>page loaded in: 0.1 seconds | memory used: 4.54 mb</small></div> 
         </body>

<!-- Mirrored from www.perfectgarciniacambogia.com/of0211m15/m3/ by HTTrack Website Copier/3.x [XR&CO'2010], Mon, 21 Dec 2015 11:35:52 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
</html>